/*/*
Template Name: VoIP Business
Version: 1.0
Design: Karlo Domic ( karlodomic@gmail.com )
Code: Slicejack ( www.slicejack.com // info@slicejack.com )
*/
@font-face {
    font-family: 'neo_sansmedium';
    src: url('neo_sans_medium.eot');
    src: url('neo_sans_medium.eot?#iefix') format('embedded-opentype'), url('neo_sans_medium.woff') format('woff'), url('neo_sans_medium.ttf') format('truetype'), url('neo_sans_medium.svg#neo_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #fff url('../images/layout/body.gif') top repeat-x;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 900px;
    margin: 0 auto;
}

/* =Header
----------------------------------------------- */
#header {
    height: 170px;
    position: relative;
}

#header h1 a {
    display: block;
    text-indent: -5000px;
    width: 300px;
    height: 95px;
    background: url('../images/layout/logo.png') no-repeat;
    position: absolute;
    left: 0px;
    top: 10px;
}

#utility-nav {
    position: absolute;
    right: 20px;
    top: 40px;
}

#utility-nav li {
    display: inline;
}

#utility-nav li a {
    display: block;
    float: left;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
    background: url('../images/nav/utility_nav_divider.gif') left no-repeat;
}

#utility-nav li a:hover, #utility-nav li a.active {
    color: #E9F5FE;
    text-decoration: underline;
}

#utility-nav li.first-item a {
    background: none;
}

#main-nav {
    background: url('../images/nav/main_nav.gif') left no-repeat;
    margin: 0 -9px;
    height: 53px;
    width: 891px;
    position: absolute;
    bottom: 11px;
    padding: 15px 0 0 27px;
}

#main-nav li {
    display: inline;
}

#main-nav li a {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px 0 20px;
    background: url('../images/nav/main_nav_divider.gif') left no-repeat;
    height: 27px;
}

#main-nav li.first-item a {
    background: none;
    padding-left: 0;
}

#main-nav li a.active span {
    background: url('../images/nav/main_nav_active.gif') bottom center no-repeat;
    height: 31px;
    display: block;
    float: left;
    cursor: pointer;
    color: #B3640D;
}

#main-nav li a:hover {
    color: #B3640D;
}

/* =Sub Header
----------------------------------------------- */
#sub-header {
    background: url('../images/layout/sub_header.gif') no-repeat;
    width: 900px;
    position: relative;
    padding-top: 43px;
    margin-bottom: 20px;
}

p.breadcrumbs {
    font-size: 11px;
    color: #777;
    position: absolute;
    top: 14px;
    left: 20px;
}

#search {
    background: url('../images/form/search.gif') no-repeat;
    width: 220px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 11px;
}

#search legend {
    display: none;
}

#search .input-text {
    width: 187px;
    background: none;
    border: none;
    font-size: 11px;
    color: #999;
    display: block;
    float: left;
    padding: 3px 0 0 9px;
}

#search .input-button {
    width: 16px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

#images {
    background: #fff;
    height: 111px;
}

#images li {
    display: block;
    float: left;
    margin: 1px 1px 0 0;
}

#images li.first-item {
    margin-left: 1px;
}

#images li.last-item {
    margin-right: 0;
}

#directory {
    background: url('../images/layout/directory.gif') bottom no-repeat;
    padding: 0 0 11px 0;
}

#directory-inner {
    background: #f5f5f5 url('../images/layout/directory_list.gif') top left no-repeat;
    padding-bottom: 5px;
}

#directory ul {
    width: 159px;
    float: left;
    padding: 10px 0 0 20px;
}

#directory ul li {
    background: url('../images/icons/directory_bullet.gif') left no-repeat;
    padding-left: 8px;
}

#directory ul li a {
    font-size: 11px;
    color: #666;
    text-decoration: none;
    line-height: 1.6;
}

#directory ul li a:hover, #directory ul li a.active {
    border-bottom: 1px dotted #333;
    color: #333;
}

/* =Sidebar
----------------------------------------------- */
#sidebar {
    width: 247px;
    float: left;
    padding-left: 20px;
    margin-right: 20px;
}

#sidebar h2, #main-content h2 {
    font-size: 20px;
    color: #2e9eff;
    margin-bottom: 5px;
    text-indent: 8px;
}

#sidebar ul {
    background: #f4f4f4 url('../images/layout/sidebar_li.gif') top repeat-x;
}

#sidebar ul li {
    padding: 10px;
    background: url('../images/layout/sidebar_li.gif') bottom repeat-x;
    line-height: 1.4;
}

#sidebar ul li img {
    float: left;
    padding: 1px;
    border: 1px solid #ddd;
    margin-right: 8px;
}

#sidebar ul li h3 {
    font-size: 11px;
    font-weight: bold;
    color: #ee912a;
}

#sidebar ul li p {
    font-size: 11px;
    color: #999;
}

#sidebar ul li a {
    background: url('../images/icons/read_more.gif') left no-repeat;
    padding-left: 12px;
    color: #5c91c7;
    font-size: 11px;
}

#sidebar ul li a:hover {
    color: #386da4;
}

/* =Main Content
----------------------------------------------- */
#main-content {
    width: 900px;
    float: left;
    margin-bottom: 20px;
}

.article-wrapper .article-actions {
    background: url('../images/layout/article_actions.gif') top repeat-x;
    height: 34px;
    font-size: 11px;
    color: #ff3333;
    padding: 10px 0 0 8px;
}

.article-wrapper-head .article-actions {
    background: url('../images/layout/article_actions.gif') top repeat-x;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
    color: #ff0033;
    padding: 10px 0 0 8px;
}

.article-wrapper .article-actions li {
    display: inline;
    margin-right: 10px;

}

.article-wrapper .article-actions li img {
    vertical-align: middle;
    margin-right: 6px;
}

.article-wrapper .article-actions li a {
    color: #666;
}

.article-wrapper .article-actions li a:hover {
    text-decoration: underline;
}

.article-wrapper .article {
    width: 900px;
    margin: 0 auto;
}

.article-wrapper .article h3 {
    font-size: 16px;
    font-weight: bold;
    color: #ee912a;
    margin-bottom: 6px;
}

.article-wrapper .article p {
    color: #666;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.article-wrapper .article strong {
    font-weight: bold;
}

.article-wrapper .article em {
    font-style: italic;
}

.article-wrapper .article p a {
    color: #5c91c7;
}

.article-wrapper .article p a:hover {
    color: #3b6691;
}

/* -- Main Banner --- */
.res_banner {
    width: 900px;
    background: url('images/sprite-home-banner.png') top left no-repeat;
    color: #FFF;
    clear: both;
    margin-bottom: 20px;
    float: left;
    font-size: 16px;
    font-family: NeoSansMedium, Arial, Sans-serif !important;
    height: 500px;
}

.res_copy {
    padding: 20px 30px 0 30px;
}

.res_copy h1 {
    font-size: 36px;
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: bold;
    line-height: 1em;
}

.res_copy p {
    margin-bottom: 15px;

    line-height: 1.3em;
}

.res_banner ul {
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;

}

.res_banner ul li {
    margin: 10px 0;
    background: url('images/spirte-icon.png') 0 top no-repeat;
    padding-left: 25px;
    line-height: 1.3em;
}

.res_copy .keypoints {
    font-size: 14px;
    width: 840px;
    padding: 0;
    float: left;
    clear: both;

}

.res_copy .keypoints .follwsteps {
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin: 0;
    width: 170px;

    line-height: 20px;
}

[class*="follwsteps"] {
    float: left;

}

.res_copy .keypoints .follwsteps img {
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    border: 0;
}

.res_copy .keypoints .follwsteps  p {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.res_copy .keypoints .arrow {
    width: 37px;
    padding-top: 5px;
}

.res_copy  .keypoints .arrow img {
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    border: 0;

}

[class*="arrow"] {
    float: left;

}

.res-banner2 {
    width: 900px;
    display: block;
    margin: 0 0 20px 0;
    height: 225px;
    background: url('images/Small_Banner.png') top no-repeat;
    font-family: NeoSansMedium, Arial, Sans-serif !important;
}

.res-banner2 h1 {
    font-size: 30px !important;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-top: 10px;

}

.res-banner2 h2 {
    font-size: 22px !important;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;

}

.res-banner2 p {
    color: #787C85;
    font-size: 16px;
    text-align: center;
    margin: 0;
    line-height: 1.3em;
}

/* --  Button style -- */
.btnWrap {
    margin: 0 0 20px 0;
}

.btnWrap a.btnStyle {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border: #BBB 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-decoration: none;
    font-family: NeoSansMedium, Arial, Sans-serif;
    background: #05abe0; /* Old browsers */
    background: -moz-linear-gradient(top, #05abe0 0%, #53cbf1 40%, #87e0fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05abe0), color-stop(40%, #53cbf1), color-stop(100%, #87e0fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #05abe0 0%, #53cbf1 40%, #87e0fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #05abe0 0%, #53cbf1 40%, #87e0fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #05abe0 0%, #53cbf1 40%, #87e0fd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #05abe0 0%, #53cbf1 40%, #87e0fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#05abe0', endColorstr = '#87e0fd', GradientType = 0); /* IE6-9 */
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 0 #f7fcff;
    -moz-box-shadow: inset 0 1px 0 0 #f7fcff;
    box-shadow: inset 0 1px 0 0 #f7fcff;

}

.btnWrap a.btnStyle:hover {
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#87e0fd', endColorstr = '#05abe0', GradientType = 0); /* IE6-9 */

}

a.btnStyle:active {
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#87e0fd', endColorstr = '#05abe0', GradientType = 0); /* IE6-9 */

}

/* -- End Button style -- */
.middleMainwrap {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    clear: both;
    text-align: left;
    font-family: NeoSansMedium, Arial, Sans-serif !important;
}

.middleMainwrap .restats {
    width: 367px;
    margin: 0;
    padding: 0;
}

[class*="restats"] {
    float: left;

}

.middleMainwrap .restats h3 {
    font-size: 24px;
    color: #666666;
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
}

.middleMainwrap .restats ul.resDetails {
    list-style: none !important;
    padding: 0;
    margin: 0 !important;

}

.middleMainwrap .restats ul.resDetails li {
    color: #666;
    margin: 0px 0px 10px 0px;
    border-bottom: 4px dotted #e1e1e1;
    padding: 0 0 10px 25px;
    background: url('images/btn2.png') left 6px no-repeat;
    height: auto !important;
    font-weight: normal;
}

.middleMainwrap .restats ul.resDetails li span.firstXt {
    font-size: 20px;
    color: #008bcb !important;
    font-weight: normal !important;
}

.middleMainwrap .restats ul.resDetails li span.lastXt {
    font-size: 14px;
}

.middleMainwrap .restats ul.resDetails li.reslast {
    margin: 0;
    border: 0;
}

.middleMainwrap .resForm {
    width: 418px;
    margin: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #c5e1f5;
    box-shadow: 3px 3px 3px #489cc3;
    -webkit-box-shadow: 3px 3px 3px #489cc3;
    -moz-box-shadow: 3px 3px 3px #489cc3;
    padding: 20px 30px;
    color: #fff;
    text-align: center;

}

[class*="resForm"] {
    float: right;

}

.middleMainwrap .resForm h2 {
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 15px;
    font-weight: bold;
    color: #2e9eff;
    text-align: left;
    margin-top: 0;
    text-indent: 0 !important;
}

.middleMainwrap .resForm form {
    padding: 0;
    margin: 0 auto;
}

.middleMainwrap .resForm form label {
    color: #666;
    display: block;
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    text-align: left;
}

.middleMainwrap .resForm form label input,
.middleMainwrap .resForm form label textarea {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #000;
    color: #666;
    display: block;
    font-family: NeoSansMedium, Arial, Sans-serif !important;
    font-size: 14px !important;
    height: 20px;
    line-height: 20px;
    padding: 5px 30px 5px 20px;
    width: 369px;
}

.middleMainwrap .resForm form label input:focus,
.middleMainwrap .resForm form label textarea:focus {
    color: #5c5c5c;
}

.middleMainwrap .resForm form label textarea {
    height: 150px;
    line-height: 1.2;
    position: relative;
}

.middleMainwrap .resForm form label.name input {
    background: white url('images/bust.png') no-repeat 395px center;
}

.middleMainwrap .resForm form label.email input {
    background: white url('images/envelope.png') no-repeat 395px center;
}

.middleMainwrap .resForm form label.phone input {
    background: white url('images/phone.png') no-repeat 395px center;
}

.middleMainwrap .resForm form label.message textarea {
    background: white url('images/pencil.png') no-repeat 395px 10px;
}

.middleMainwrap .resForm form label.error input {
    color: red;
}

.middleMainwrap .resForm form label.error.name input {
    background-image: url('images/bust-red.png');
}

.middleMainwrap .resForm form label.error.email input {
    background-image: url('images/envelope-red.png');
}

.middleMainwrap .resForm form label.error.phone input {
    background-image: url('images/phone-red.png');
}

.middleMainwrap .resForm form label.error.message input {
    background-image: url('images/pencil-red.png');
}

.middleMainwrap .resForm form label.error .error-text {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: black;
    bottom: 30px;
    color: white;
    display: block;
    font-size: 10px;
    font-weight: normal;
    padding: 5px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-transform: none;
    width: 200px;
}

.middleMainwrap .resForm form label.error .error-text:after {
    bottom: 0px;
    content: url('images/black-arrow-down.png');
    display: block;
    height: 6px;
    position: absolute;
    right: 4px;
    width: 11px;
}

.middleMainwrap .resForm form label .hint {
    color: #306c26;
    display: block;
    float: right;
    font-size: 13px;
    text-transform: none;
}

.middleMainwrap .resForm form label .error-text {
    display: none;
}

.middleMainwrap .resForm form input[type="submit"] {
    background-color: transparent;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    text-shadow: none;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    background: url('images/send-it.png');
    float: right;
    height: 125px;
    position: relative;
    right: 15px;
    top: -40px;
    width: 125px;
    z-index: 10;
}

.middleMainwrap .resForm form input[type="submit"]:hover {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.middleMainwrap .resForm form input.email2 {
    display: none;
}

/*-- Social icon -- */
.socialbox {
    float: right;
    margin: 20px 0 20px 0;
    padding: 0;
    clear: both;
}

[class*="socilabox"] {
    float: right;

}

.socialbox ul.social-icon {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.socialbox ul.social-icon li {
    float: left;
    margin-right: 10px;
}

.socialbox ul.social-icon li.facebook a {
    background: url('images/facebook.png');
}

.socialbox ul.social-icon li.twt a {
    background: url('images/twitter.png');
}

.socialbox ul.social-icon li.gplus a {
    background: url('images/google.png');
}

.socialbox ul.social-icon li.utube a {
    background: url('images/youtube.png');
}

.socialbox ul.social-icon li a {
    background-color: transprent;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    text-shadow: none;
    height: 35px;
    opacity: 0.3;
    width: 35px;
}

.socialbox ul.social-icon li a:hover {
    opacity: 0.6;
}

/*-- End Social icon -- */

/* =Footer
----------------------------------------------- */
#footer {
    background: url('../images/layout/footer.gif') no-repeat;
    width: 898px;
    height: 27px;
    margin: 0 auto 10px auto;
    clear: both;
    padding-top: 13px;
    position: relative;
}

#footer p {
    font-size: 11px;
    color: #999;
}

#footer p.copyright {
    padding-left: 25px;
}

#footer p.copyright span {
    color: #5c91c7;
}

#footer p.authors {
    position: absolute;
    right: 25px;
    top: 14px;
}

#footer p.authors a {
    color: #5c91c7;
    text-decoration: none;
}

/* =Footer
----------------------------------------------- */

.tablahoras {

    font-size: 12px;
    font-family: "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
    border: none;
    width: 900px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;

}

.tablahoras tbody th {

    color: #666 !important;
    padding: 8px 10px;
    font-size: 12px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;

    text-align: left;
    font-weight: normal;
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid #CCC;

}

.tablahoras tr:hover {

    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.tablahoras tbody tr td {
    padding: 8px 10px;
    color: #666;
    font-size: 12px !important;
}

.tablahoras  td {
    border: 1px solid #CCC;
    border-collapse: collapse;

    font: "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;

}

.tablahoras  td:hover.td_destacado {
    background-color: #90c0f1;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.tablahoras  td a:hover {
    color: #fff !important;
}

.tablahoras td a {
    text-decoration: none;
    color: #666;
}

.tablahoras tfoot th {
    border-left: none;
    border-top: 1px solid #CCC;
    padding: 4px;
    background: #FFF url(foot_bck.gif) repeat;
    color: #666;
}

.tablaformulario {
    border: 0px solid #CCC;
    border-collapse: collapse;
    font-size: 12px;
    font: Verdana;
    font-weight: bold;

}

.tablaformulario td {
    padding: 2px;
}

.celda {
    background-color: #EAECEE;
    padding-top: 10px;
    padding-right: 3px;
    padding-left: 2px;
    padding-bottom: 12px;
}

.celda2 {
    background-color: #f2dede;

}

.celda2 a {
    color: #666 !important;
}

.celda3 {
    background-color: #d9edf7;
}

.celda3 a {
    color: #666 !important;
}

.celda4 {
    background-color: #dff0d8;
    color: #666 !important;
}

.celda4 a {
    color: #666 !important;
}

.celdadestacada {
    font-family: Verdana, Sans-serif;
    color: #45484d;
    font-weight: bold;
    font-size: 22px;
}

.formulario1 {
    border: thin dotted #2D7C0B;
    background-color: #f9f9f9;
    font-family: Monaco, Verdana, Sans-serif;
    font-size: 12px;
    padding: .2em;
}

/* PARA LAS TABLAS CON DATOS TABULADOS QUE QUEREMOS QUE SE VEAN */

.tabladatos {
    font-family: "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
    border: none;
    width: 900px;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    text-align: center;
}

.tabladatos tr.redrow {
    background: #f2dede;
}

.tabladatos tr.greenrow {
    background: #dff0d8;
}

.tabladatos  tr:hover.tr_destacado {
    background-color: #90c0f1;
    text-decoration: none;
    cursor: pointer;
}

.celdaencurso {
    background-color: #B3B4BD;
}

.tabladatos td {
    font-size: 11px;
}

.tabladatos td, .tabladatos th {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 8px 10px;
    text-align: center;
}

.tabladatos th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: bold;
    font-size: 12px;

}

.tabladatos td:first-child, .tabladatos th:first-child {
    border-left: none;
}

.tabladatos th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.tabladatos th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.tabladatos th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.tabladatos tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.tabladatos tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/* PARA LAS TABLAS CON DATOS TABULADOS QUE NO QUEREMOS QUE SE VEAN Y QUEREMOS QUE OCUPEN MENOS */

.tabladatosoculta {
    border: 0px solid #CCC;
    border-collapse: collapse;
    font-size: 11px;
    font: "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
    border: none;
    width: 600px;
}

.tabladatosoculta  tbody th {
    color: #666;
    padding: 5px 10px;
    font-size: 14px;
    background: #fafafb;
    border-top: 1px solid #CCC;
    text-align: center;
    font-weight: bold;

}

.tabladatosoculta tbody tr td {
    padding: 5px 10px;
    color: #666;
}

.tabladatosoculta  td {

    border-collapse: collapse;
    font-size: 11px;
    font-weight:: bold;
    font: "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
    text-align: left;
    width: 30%

}

.tabladatosoculta tfoot th {

    padding: 4px;
    background: #FFF url(foot_bck.gif) repeat;
    color: #666;
}

.tabladatosoculta caption {
    text-align: left;
    font-size: 120%;
    padding: 10px 0;
    color: #666;
}

.tabladatosoculta a:link {
    color: #666;
    text-decoration: none;
}

.tabladatosoculta a:visited {
    color: #666;
}

.tabladatosoculta a:active {
    color: #003366;
}

/* PARA LAS CAPAS DE VALIDACIONES DE ERRORES EN LOS FORM */

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    visibility: hidden;
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/layout/error.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../images/layout/exito.png');
}

/* FIN-PARA LAS CAPAS DE VALIDACIONES DE ERRORES EN LOS FORM */

/* ESTILOS DE FORMULARIOS DE ENTRADA */

.formredondo {

    border: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    margin: 15px 15px 15px 15px;
    width: 600px;
    background: #fff;

    /* -- CSS3 - definiciÃ³n de las esquinas redondeadas -- */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /* -- CSS3 - Gradiente de fondo -- */
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFF));
    background: -moz-linear-gradient(0% 40% 90deg, #FFF, #EEE);

    /* -- CSS3 - Sombras -- */
    -webkit-box-shadow: 0px 0 50px #ccc;
    -moz-box-shadow: 0px 0 50px #ccc;
    box-shadow: 0px 0 50px #ccc;

}

.formredondo input, textarea {
    padding: 1px;
    margin: 0px 0 0px 0;
    background: #fff;

    font-size: 14px;
    color: #555;
    border: 1px #ddd solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* FIN-ESTILOS DE FORMULARIOS DE ENTRADA */

/* MAQUETACION PARA PAGINA HOME */

.capahome {
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin: 15px 15px 15px 0;
    font: Verdana, Helvetica, sans-serif;
    width: 275px;
    text-align: center;
    line-height: 20px;
}

[class*="capahome"] {
    float: left;

}

.capahome img {
    margin: 0 auto;
    display: block;
    vertical-align: middle;
}

.capahome h2 {
    display: block;
    margin: 10px 0 !important;
    line-height: 40px;
    font-weight: normal;
    color: #2e9eff;
}

.capahome p {
    margin: 0 10px 10px 10px;
    display: block;
    text-align: center;
}

.capahome a.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#ffe6e6e6', GradientType = 0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

/* -- Sandesh form style --*/
form {
    width: 900px;
    margin: 0 auto;
    padding: 0;

}

form .formwrapper {
    border: 1px solid #ccc;
    color: #555;
    width: 899px;
    margin: 0;
    padding: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #555;

}

fieldset .field1 {
    border-right: 1px solid #ccc;
    float: left;
    width: 211px;
    padding: 0;
    margin: 0;
}

fieldset span {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

fieldset label {
    display: block;
    padding: 9px 10px 4px 15px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

fieldset label  a {
    text-decoration: underline;
    color: #555;
}

fieldset .inputXt {
    margin: 15px 20px;
}

fieldset .inputXt textarea {
    margin: 0 auto !important;
    display: block;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #555;
}

fieldset input {
    display: block;
    margin: 0 auto;
    text-align: center;

    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    color: #444;
    font-size: 14px;
}

input[type="submit"] {
    color: #fff;
    padding: 5px 24px;
    margin: 20px 0;
    border: 1px solid #000;
    font-weight: lighter;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #45484d;
    background: -moz-linear-gradient(top, #222 0%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222), color-stop(100%, #111));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#22222', endColorstr = '#11111', GradientType = 0);
    text-shadow: 0 1px 1px #000;
    width: 95px;
}

input[type="file"] {
    color: #555;

    font-weight: bold;
    width: 250px;

}

fieldset .field2 {
    border-right: 1px solid #ccc;
    float: left;
    width: 198px;
    margin: 0;
    padding: 0;
}

fieldset .field3 {
    border-right: 1px solid #ccc;

    float: left;
    width: 215px;
    margin: 0;
    padding: 0;
}

fieldset .field4 {
    border-bottom: 1px solid #ccc;
    float: left;
    width: 272px;
    margin: 0;
    padding: 0;
}

fieldset .clear {
    clear: both;
}

fieldset p {
    border-bottom: solid #ccc 1px;
    border-top: solid #ccc 1px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 8px 10px;
    margin: 0;
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);

}

fieldset p.notopborder {
    border-top: 0 !important;
    margin: 0;
    padding: 9px 10px;
    border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
}



